*.bin
.ipynb_checkpoints/
.trainFacev2.py.swp
Capture10/
FRONTAL/
Our Group/
__pycache__/
assignment3.m
cana.jpg
cana.raw
faceDBs/
fruit.jpg
fruit.raw
ganinput/
img335.jpg
img335.raw
input/
input_EE4208/
input_EE4208_EE4001_Profs/
input_v1/
lamp.jpg
lamp.raw
leaf.jpg
leaf.raw
main
main.cpp
photos/
starganCropped.zip
starganCropperOutput/
test/
venv/